*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100wh;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

h3{
    margin: 50px 50px 0px 50px;
    padding: 30px 0;
    background-color: #F7EF81;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: #5B37AB;
}

@media screen (width:480px){
    width:100%;
}
ul{
    background-color: #ADD2C2;
    width: 50%;
    list-style: none;
    font-size: 1rem;
    text-transform: capitalize;
    color: #5B37AB;
}
ul li{
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    display: flex;
    text-decoration:none;
}


button{
    margin: 10px 0;
    text-align: right;
    font-size: 50px;
    border: none;
    background-color: transparent;
}

.inputField{
    width: 100%;
    padding: 20px;
}
